#navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border:1px solid black;
    padding:5px;
    margin-bottom:50px;
    background-color: lightgreen;
  }
  a{
    text-decoration: none;
    color:black;
    padding-top:12px;
    font-weight: bold;
  }
  #SignUp_form{
    border:1px solid black;
    border-radius:5px;
    margin:auto;
    width:50%;
    height:260px;
    text-align:center;
    padding:10px;
    background-color:mistyrose;
  }
  input[type="text"]{
    width:96%;
    height:30px;
    margin-bottom:5px;
    border-radius:5px;
    border:1px solid blue;
  }
  input[type='submit']{
    width:40%;
    height:30px;
    margin-top:10px;
  }